input{
  margin: 0;
  padding:0;
  width:0;
}
.main {
  max-width: 100%;
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 10px 30px;
}
.admin_title{
  color:rgb(156, 156, 156);
}
.title_hr{
  size:1;
  width:100%;
  margin: 10px 0;
}
.list_search_bar {
  padding-top: 20px;
  width: 100%;
}
.list_search_bar * {
  font-size: 14px;
}
.lsb_msg{
  display: inline;
}
.lsb_btn_srch {
  float: right;
  margin-left: 5px;
}
.admin_table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
tr, td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
td:hover{
  background-color:#f5f5f5;
}
.tb_container {
  width: 100%;
  padding-right: 45% ;
}
/* Hide the browser's default checkbox */
.tb_container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.tb_checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: rgba(252, 105, 105, 1);
}

/* On mouse-over, add a grey background color */
.tb_container:hover input ~ .tb_checkmark {
  /* ~ : 상위에서 ~ 할때 하위의 효과 */
  background-color: rgba(252, 105, 105, 0.8);
}

/* When the checkbox is checked, add a blue background */
.tb_container input:checked ~ .tb_checkmark {
  background-color: rgba(252, 105, 105, 1);
}

/* Create the tb_checkmark/indicator (hidden when not checked) */
.tb_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the tb_checkmark when checked */
.tb_container input:checked ~ .tb_checkmark:after {
  display: block;
}

/* Style the tb_checkmark/indicator */
.tb_container .tb_checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  table *, .tb_container{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .list_header_tb * {
    font-size: 15px;
  }
}

.admin_table a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.submain_list_item:nth-child(odd) {
  background-color: rgba(252, 105, 105, 0.05);
}
.submain_list_item:nth-child(even) {
  background-color: rgba(252, 105, 105, 0.15);
}
.li_hd_list_num, .li_hd_num{
  width: 5.5%;
}
.li_hd_type{
  width: 10%;
}
.li_hd_name, .li_hd_addr{
  width: 17%;
}
.li_hd_tel, .li_hd_bs{
  width: 11%;
}
.li_hd_rg{
  width: 18%;
}
.lsb_btn_srch{
  border: none;
  background-color: rgba(252, 105, 105, 1);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  font-size: 16px;
  cursor: pointer;
}
.lsb_btn_srch:hover{
  background-color: rgba(252, 105, 105, 0.85);
}
.page_to a{
  text-decoration:none;
  padding: 5px 8px;
  font-size: 16px;
  color: black;
}
.page_to .previous, .page_to .next {
  background-color: rgba(252, 105, 105, 0.85);
  color: white;
}
.page_to a:hover {
  background-color: rgba(252, 105, 105, 1);
  color: white;
}
.page_to {
  position:relative;
  margin: 30px 0 10% 0;
}
.page_to_in {
position:absolute;
text-align: center;
width:50%;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
}
