a {
  text-decoration: none;
}
.admin_title{
  color:rgb(156, 156, 156);
  float:left;
  font-size: 28px;
}
.admin_sub_title{
  float: right;
  height: 50px;
  color:rgb(80, 80, 80); font-style:italic; font-size:30px;
}
.title_hr{
  size:1;
  width:100%;
  clear: both;
  margin: 10px 0;
  padding: 0;
}
.c_white{
  border: white;
}
.main {
  max-width: 85%;
  margin-left: 16%;
  margin-top: 200px;
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 10px 30px;
}

@media screen and (max-width: 800px) {
  .main {
    margin:0;
    margin-top: 450px;
    max-width: 100%;
  }
  .sidenav{
    margin-top: 80px;
  }
  .sidenav a {
    display: inline;
    padding: 2px 30px;
    text-decoration: none;
    font-size: 15px;
  }
  table *, .tb_container{
    font-size: 14px;
  }
}

.page_to a {
  text-decoration:none;
  padding: 5px 8px;
  font-size: 16px;
  color: black;
}
.page_to .previous, .page_to .next {
  background-color: rgba(252, 105, 105, 0.85);
  color: white;
}
.page_to a:hover {
  background-color: rgba(252, 105, 105, 1);
  color: white;
}
.page_to {
  position:relative;
  margin: 30px 0 10% 0;
}
.page_to_in {
position:absolute;
text-align: center;
width:50%;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
}

/****** 리스트형 목록 *********************************************************/
.list_search_bar {
  width: 100%;
  padding: 0px 20px 0px 20px;

}
.list_search_bar * {
  font-size: 14px;
}
.lsb_msg{
  display: inline;
}
.lsb_btn_srch, .lsb_input, .lsb_select, .lsb_title {
  float: right;
  margin-left: 5px;
}

.lsb_input input{
  padding: 3px;
}
.lsb_select select, .lsb_select select option {
  padding: 3px;
}

/* 메모표 */
.list_header_tb{
  position: inherit;
  width: 100%;
  margin: 30px 0 0 0;
  border-collapse: collapse;
}
.list_header_tb *, .list_header_tb tr td {
  padding: 2px 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: rgb(243,128,130);
}
.list_header_tb input{
  width: 85%;
}
.list_header_tb tr td{
  padding: 5px 10px;
}
.submain_list_content * {
  padding: 0.5% 0;
  text-align: center;
  font-size: 15px;
  color: black;
  border-bottom: 1px solid white;
}
.submain_list_item:nth-child(odd) {
  background-color: rgba(252, 105, 105, 0.1);
  color: white;
}
.submain_list_item:nth-child(even) {
  background-color: rgba(252, 105, 105, 0.2);
}
.submain_list_content tr:hover td, .submain_list_content tr:hover td a{
  background-color : rgba(241, 80, 80, 1);
  color: rgb(255, 255, 255);
}
.li_hd_writer{
  width: 60%;
}
.submain_list_content .li_hd_hit{
  width: 10%;
  text-align: right;
}
.submain_list_content .li_hd_rgt_day{
  width: 30%;
  text-align: right;
}
.li_hd_sbj{
  width: 100%;
}
.li_hd_sbj input{
  border: none;
}
.btn_write {
  float:right;
  margin: 1%;
}
.btn_write a {
  color: white;
}
.lsb_btn_srch, .btn_submit a, .btn_submit button, .rip_del input, .rip_button button{
  border: none;
  background-color : rgba(252, 105, 105, 1);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  font-size: 16px;
  cursor: pointer;
}
.btn_submit a, .btn_submit button{
  padding: 4px 6px 6px 6px;
}
.lsb_btn_srch:hover, .btn_write:hover, .rip_del input:hover, .rip_button button:hover {
  background-color : rgba(252, 105, 105, 0.85);
}
.rippel{
  padding: 20px;
  width: 70%;
}
.ripple_title{
  color: white;
  font-weight: bold;
  background-color : rgba(252, 105, 105, 0.85);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.rip_tb{
  background-color : rgba(252, 105, 105, 0.25);
  width: 96%;
  float: right;
  margin-bottom: 10px;
  padding: 10px;
}
.rip_id_day{
  float: left;
  font-weight: bold;
}
.rip_del{
  float: right;
}
.rip_cont{
  margin-top: 50px;
  padding-left: 10px;
  clear: both;
  width: 100%;
}
.rip_insert{
  width: 96%;
  padding: 10px;
}
.rip_textarea textarea{
  width: 100%;
  resize: none;
  background-color : rgba(252, 105, 105, 0.1);
  border: none;
}
.rip_button{
  text-align: right;
}
.btn_submit *{
  margin: 2px;
}
.btn_center{
  width: 100%;
  clear: both;
  position:relative;
  margin: 20px 0 15% 0;
  text-align: center;
}
.btn_submit{
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.btn_3{
  width: 175px;
}
.btn_4{
  width: 222px;
}
.btn_5{
  width: 400px;

}










.page_to a {
  text-decoration:none;
  padding: 5px 8px;
  font-size: 16px;
  color: black;
}
.page_to .previous, .page_to .next {
  background-color: rgba(252, 105, 105, 0.85);
  color: white;
}
.page_to a:hover {
  background-color: rgba(252, 105, 105, 1);
  color: white;
}
.page_to {
  position:relative;
  margin: 30px 0 10% 0;
}
.page_to_in {
  position:absolute;
  text-align: center;
  width:50%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

@media screen and (max-width: 840px) {
  /* .prd_img_div, .prd_info_div{
    float: none;
    width: 100%;
  }
  .detail_box, .file_box{
    width: 100%;
  } */
  .p_i_thumbs{
    padding: 10px 0;
  }
  .prd_list_cont{
    width: 49.5%;
  }
  .page_to_in {
    width: 100%
}
}
@media screen and (max-width: 1100px) {
  .li_hd_writer{
    width: 40%;
  }
  .submain_list_content .li_hd_hit{
    width: 20%;
  }
  .submain_list_content .li_hd_rgt_day{
    width: 40%;
  }
}
@media screen and (max-width: 800px) {
  .list_header_tb tr td, .list_header_tb tr td *{
    font-size: 13px;
  }
  .li_hd_writer{
    width: 30%;
  }
  .submain_list_content .li_hd_hit{
    width: 25%;
  }
  .submain_list_content .li_hd_rgt_day{
    width: 50%;
  }
  .rippel{
    padding: 10px;
    width: 100%;
  }
}
