.animal{
  padding-right: 25%;
}


.animal *{
  float: right;
  text-align: center;
}
.animal>div>div{
  width: 100%;
}
.con_title{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  color: white;
   text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
}
.animal2{
  height:160px;
  width: 160px;
  margin: 15px;
  padding: 40px;
  text-align: center;
}
.animal3{
  color:white;
    text-shadow: 2px 2px 4px #000000;
  /* border-bottom: 1px solid white; */
  font-size: 20px;
  margin-top: 20px;

}
.main{
  background-image: url("../img/tree.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px;
}
/* div #testfont{
  color: red;
} */
div .top{
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 800px) {
  .color *{
    text-align: center;
    margin: 10px;
  }
  .color{
    padding-right: 0%;
  }
  #blue{
    height:100px;
    width: 100px;
  }
  #blue #blue2{
    font-size: 18px;
  }
}
