.main {
  max-width: 85%;
  margin-left: 16%;
  margin-top: 200px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 10px 30px;
}
.admin_title{
  color:rgb(156, 156, 156);
}
.title_hr{
  size:1;
  width:100%;
  margin: 10px 0;
}
.list_search_bar {
  padding-top: 20px;
  width: 100%;
}
.list_search_bar * {
  font-size: 14px;
}
.lsb_msg{
  /* display: inline; */
}
.lsb_btn_srch {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
.admin_table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
tr, td{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 7.5px;
  font-size: 16px;
}
td:hover{
  background-color:#f5f5f5;
}

@media screen and (max-width: 1700px) {
  .main {
    margin-left: 17.5%;
  }
}
@media screen and (max-width: 1600px) {
  .main {
    margin-left: 19.5%;
  }
}
@media screen and (max-width: 1500px) {
  .main {
    margin-left: 21%;
  }
}
@media screen and (max-width: 1400px) {
  .main {
    margin-left: 22.5%;
  }
  .sidenav a {
    padding-top: 3.5px;
    padding-bottom: 3.5px;
  }
}
@media screen and (max-width: 1200px) {
  .main {
    margin-left: 24%;
  }
}
@media screen and (max-width: 1100px) {
  .main {
    margin-left: 25.5%;
  }
}
@media screen and (max-width: 100px) {
  .main {
    margin-left: 27%;
  }
}
@media screen and (max-width: 900px) {
  .main {
    margin-left: 28.5%;
  }
}
@media screen and (max-width: 800px) {
  .main {
    margin:0;
    margin-top: 450px;
    max-width: 100%;
  }
  .sidenav a {
    margin: 0;
    padding: 2px;
  }
  .sidenav a:first-child {
    padding: 2px 30px;
  }
  table *, .tb_container{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .list_header_tb * {
    font-size: 15px;
  }
}

.submain_list_item:nth-child(odd) {
  background-color: rgba(252, 105, 105, 0.05);
}
.submain_list_item:nth-child(even) {
  background-color: rgba(252, 105, 105, 0.15);
}
.li_hd_list_num {
  width: 4%;
}
.li_hd_type{
  width: 15%;
}
.li_hd_name{
  width: 15%;
}
.lsb_btn_srch, table input{
  border: none;
  background-color: rgba(252, 105, 105, 1);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1px 3px 3px 3px;
  font-size: 16px;
  cursor: pointer;
}
.lsb_btn_srch:hover, .btn_write:hover {
  background-color: rgba(252, 105, 105, 0.85);
}
select{
  margin-top: 17px;
  padding: 5px 2px;
}
input{
  margin-top: 10px;
}
.page_to a{
  text-decoration:none;
  padding: 5px 8px;
  font-size: 16px;
  color: black;
}
.page_to .previous, .page_to .next {
  background-color: rgba(252, 105, 105, 0.85);
  color: white;
}
.page_to a:hover {
  background-color: rgba(252, 105, 105, 1);
  color: white;
}
.page_to {
  position:relative;
  margin: 30px 0 10% 0;
}
.page_to_in {
position:absolute;
text-align: center;
width:50%;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
}
@media screen and (max-width: 840px) {
  .page_to_in {
    width: 100%
}
