table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
td:hover{
  background-color:#f5f5f5;
}
tr,td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  font-size: 16px;
}
#ranking1{
  padding:10px;
  width: 80%;
  background-color:rgb(245, 245, 245);
  opacity: 0.7;
  margin-top: 10px;
}
#ranking2{
  font-size: 14px;
}
#product{
  width: 80%;
  height: 700px;
  /* padding:10px; */
  /* background-color: rgb(195, 195, 195); */
}
#product1{
  text-align: center;
  width: 48%;
  height: 400px;
  padding:10%;
  float: left;
}
#product2{
  text-align: center;
  width: 48%;
  height: 400px;
  padding:10%;
  float: right;
}
a {text-decoration:none;}
a:visited{color:rgb(42, 42, 42);}
a:hover{color:rgb(204, 74, 86);}
